# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfstate.lock.info
.terraform.lock.hcl
*.tfplan
# Credentials
*.json
!package.json
!package-lock.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

terraform/soy-transducer-455914-i5-eb4acc5d0af2.json